HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
bootstrap/
infra/src/main/java/com/github/chiarelli/taskmanager/infra/mock/TarefasRepositoryMock.java
infra/src/main/java/com/github/chiarelli/taskmanager/infra/configuration/InfraConfig.java
presentation/src/main/java/com/github/chiarelli/taskmanager/presentation/controllers/OlaController.java
